openapi: 3.1.0
info:
  title: Indico REST Authentication API
  description: REST API for the Indico intelligent document processing / intelligent process automation (IPA) platform. Submit documents to workflows, poll for submission status, retrieve extraction results, and manage review. Captured faithfully from the published Indico developer reference; request/response schemas are modeled from the documented parameters and responses. The platform is typically deployed per-customer on a dedicated cluster; the default hosted cluster host is app.indico.io and the REST API is served under the /restapi base path.
  version: v1
  x-apis-json-method: generated
  x-apis-json-source: https://developer.indicodata.ai/reference
  contact:
    name: Indico Data Developer Support
    url: https://developer.indicodata.ai/
servers:
- url: https://app.indico.io/restapi
  description: Default hosted Indico cluster (override INDICO_HOST for a dedicated cluster)
security:
- bearerAuth: []
tags:
- name: Authentication
  description: Exchange an API token for a short-lived JWT access token
paths:
  /api/v1/auth/refreshToken:
    post:
      operationId: refresh_token
      tags:
      - Authentication
      summary: Refresh Token
      description: Obtains a refreshed JWT access token using HTTP Basic Authentication with your Indico API token. The returned access_token is used as the Bearer token for all other endpoints and expires after 15 minutes.
      security:
      - basicAuth: []
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                    description: JWT access token (expires after 15 minutes)
        '401':
          description: Unauthorized - missing or invalid credentials
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Short-lived JWT access token obtained from /api/v1/auth/refreshToken
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic Authentication using your Indico API token, used only to obtain a JWT
